html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
/* Set Color Varibles */
:root {
    --background: hsl(245, 96%, 9%);
    --lighter-background: hsl(246, 96%, 36%);
    --text: hsl(73, 96%, 97%);
    --primary: #108605;
    --accent: #083640;
    --other-accent: #556607;
    --link-hover: #178002b2;
}
/* Style */
body {
    font-size: 155%;
    margin: 0;
    padding: 0;
    color: var(--text);
    background-color: var(--background);
    font-family: 'Ledger', serif;
    line-height: 1.45;
}
h1, h2, h3 {
    font-family: 'Nixie One', cursive;
}
p, li {
    max-width: 70rem;
}
a:link, a:visited {
    color: var(--primary);
}
a:hover {
    color: var(--link-hover);
}
a:active, body a:focus {
    color: var(--other-accent);
}
/* Style the banner */
header {
    background-image: url("images/Web2.0.webp");
    height: 100vh;
    min-height: 600px;
    max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

header section {
    padding: 1rem;
    width: 40rem;
    position: relative;
    left: 2rem;
    bottom: 2rem;
}

header section h1 {
    color: #ffffff;
    font-size: 2.2em;
    margin-bottom: 0;
} 

header section p {
    color: #caadada1;
    font-size: 1.2em;
}

/* Center the centered-main class */
.centered-main {
    width: 70%;
    max-width: 60em;
    margin: 0 auto;
}

h2.centered-main{
    padding-top: 4rem;
}
/* Style floated boxes */
.box-right {
    box-sizing: content-box;
    float: right;
    width: 350px;
    padding: 0.5em;
    border: 2px solid var(--accent);
    margin: 0 0 1em 1em;
    border-radius: 4px;
}

.box-right img {
    width: 100%;
}

.clear-float {
    clear: both;
}

/* style the footer */
footer {
    background-color: var(--lighter-background);
    padding: 0.2em 0;
}